body{
    margin: 0 auto;
}

header{
    background-image: url(img/main-background.png);
    /* height: 500px; */
    background-size: cover;
    padding-bottom: 120px;
}

.header-wrapper{
    padding: 17px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo{
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    color: #2E2E2E;
}

.list-style{
    list-style-type: none;
    display:flex;
}


.navigation-item{
    text-decoration: none;
    cursor: pointer;
    display:block;
    padding: 10px 20px;
    font: 400 12px/20px 'Oxygen';
    color: rgba(256, 256, 256, 0.6);
    text-transform: uppercase;
}

.header-title{
    padding-top: 130px;
    color: #FFFFFF;
    font: 400 50px/51px 'Lora';
    letter-spacing: 2px;
    text-align: center;

}

.sub-title{
    font: 400 17px/50px 'Oxygen';
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);

}


.lastpost-button{
    margin: 0 auto;
    width: 167px;
    height: 44px;
    font: 400 13px/40px 'Oxygen';
    letter-spacing: 0;
    text-align: center;
    background: rgba(221, 120, 63, 1);
    color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;



}

.main-categories{
    padding: 9px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}

.categories-list{
    list-style-type: none;
    display:flex;
}

.categories-item{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
     padding: 10px 47px; 
    font: 400 14px/20px 'Lora';
    color: black;
    text-align: center;
    color: rgba(118, 128, 136, 1);

}

main{
    margin: 0 auto;
    background: rgba(247, 247, 247, 1);
}

.main-title{
    padding-top: 60px;
    font: 400 20px/27px 'Oxygen';
    text-align: center;
    color: rgba(46, 46, 46, 1);
    letter-spacing: 2px;
}

.title-underline{
    margin: 0 auto;
    background: rgba(222, 222, 222, 1);
    width: 180px;
    height: 1px;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 230px;
    display: flex;
    justify-content: space-between;

    

}

.main-cardlist{
    list-style-type: none;
    display:flex;
    

}

.main-leftcard{
    background-image: url(img/main-leftcard.png);
    background-size: cover;
    /* background-position: center; */
    margin-right: 20px;
    width: 460px;
    height: 280px;
}

.main-rightcard{
    background-image: url(img/main-rightcard.png);
    max-width: 100%; 
    /* max-height: 280px; */
    background-size: cover;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
    
}

.card-button{
    margin: 0;
    width: 87px;
    height: 26px;
    font: 400 12px/26px 'Oxygen';
    letter-spacing: 0;
    text-align: left;
    background: rgba(221, 120, 63, 1);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    justify-content: space-between;
    border-radius: 2px;
    text-transform: uppercase;
   
    
}


.main-right-card-title{
    padding-top: 110px;
    font: 400 27px/30px 'Lora';
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.right-card-subtitle{
    padding-top: 7px;
    font: 400 14px/25px 'Oxygen';
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.7);


}


.author-card{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    


}

.author-list{
    list-style-type: none;
    display:flex;
    padding: 0;
    justify-content: space-between;
    align-items: center; 
}


.author-image{
    border-radius: 60px;
    padding-right: 10px;
    
}


.author-name{
    font: 400 11px/35px 'Oxygen';
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.7);
    padding-right: 216.087px;


}

.date-rightcard{
    font: 400 11px/35px 'Oxygen';
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.7);
}