body {
  margin: 0;
  padding: 0;
}

* {
  border: 0;
}

header {
  background-image: url(../img/main-background.png);
  background-size: cover;
  padding-bottom: 120px;
}

.header-wrapper {
  padding: 17px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Lora";
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
}

.list-style {
  list-style-type: none;
  display: flex;
}

.navigation__item {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font: 400 12px/20px "Oxygen";
  color: rgba(256, 256, 256, 0.6);
  text-transform: uppercase;
}

.header-title {
  padding-top: 130px;
  color: #ffffff;
  font: 400 50px/51px "Lora";
  letter-spacing: 2px;
  text-align: center;
}

.sub-title {
  font: 400 17px/50px "Oxygen";
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
}

.lastpost__button {
  margin: 0 auto;
  width: 167px;
  height: 44px;
  font: 400 13px/40px "Oxygen";
  letter-spacing: 0;
  text-align: center;
  background: rgba(221, 120, 63, 1);
  color: rgba(255, 255, 255, 0.8);
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

.main-menu {
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-categories {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-list {
  width: 960px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.categories__item {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 47px;
  font: 400 14px/20px "Lora";
  color: black;
  text-align: center;
  color: rgba(118, 128, 136, 1);
}

main {
  margin: 0 auto;
  background: rgba(247, 247, 247, 1);
}

.main-title {
  padding-top: 60px;
  font: 400 20px/27px "Oxygen";
  text-align: center;
  color: rgba(46, 46, 46, 1);
  letter-spacing: 2px;
  margin-top: 0;
}

.title-underline {
  margin: 0 auto;
  background: rgba(222, 222, 222, 1);
  width: 180px;
  height: 1px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.main-content {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-link__card {
  text-decoration: none;
}

.main-cardlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
  gap: 20px;
  flex-wrap: wrap;
}

.big-card {
  position: relative;
  /* height: 280px; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.img-backgroung_The_road_ahead{
  background-image: url(../img/main-leftcard.png);
}
.img-backgroung_From_Top_Down{
  background-image: url(../img/main-rightcard.png);
}



.card-button{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(221, 120, 63, 1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 4px 9px 5px;
  font: 400 12px/26px "Oxygen";
  letter-spacing: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.button_The_road_ahead{
  background-color: #a872b7;
  color: rgba(255, 255, 255, 0.8);
}
.button_From_Top_Down{
  background: rgba(221, 120, 63, 1);
  color: rgba(255, 255, 255, 0.8);
}

.big-card__title {
  font: 400 27px/50px "Lora";
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.big-card__subtitle {
  padding-top: 7px;
  font: 400 14px/25px "Oxygen";
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.7);
}

.big-card__author {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-card__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.big-card__author__image {
  border-radius: 60px;
  padding-right: 10px;
}

.big-card__footer {
  display: flex;
  width: 404px;
  height: 35px;
  justify-content: space-between;
}

.big-card__name {
  font: 400 11px/35px "Oxygen";
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.7);
}

.big-card__date {
  font: 400 11px/35px "Oxygen";
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.7);
}

.add-content {
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px 20px;
}

.small-card {
  width: 296px;
  height: 291px;

} 

.small-card__title {
  margin: 0 auto;
  padding-top: 14px;
  padding-left: 13px;
  font: 400 16px/21px "Lora";
  letter-spacing: 0;
  color: rgba(16, 19, 21, 1);
  background-color: #ffffff;
}

.small-card__subtitle{
  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 33px;
  font: 400 13px/19px "Oxygen";
  letter-spacing: 0;
  color: rgba(122, 122, 122, 1);
  background-color: #ffffff;
}

.small-title__underline {
  margin: 0 auto;
  background: rgba(222, 222, 222, 1);
  width: 296px;
  height: 1px;
  align-items: center;
}

.small-card__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
}

.small-card__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.small-card__author__image {
  border-radius: 60px;
  padding-right: 10px;
}

.small-card__footer {
  padding-top: 10px;
  margin: 0;
  display: flex;
  width: 220px;
  height: 48px;
  justify-content: space-between;
}

.small-card__name {
  font: 400 11px/35px "Oxygen";
  letter-spacing: 0em;
  color: rgba(153, 153, 153, 1);
}

.small-card__date {
  font: 400 12px/35px "Oxygen";
  letter-spacing: 0em;
  color: rgba(153, 153, 153, 1);
}

footer {
  margin: 0;
  background-image: url(../img/footer.png);
  background-color: rgba(35, 47, 56, 0.5);
  background-blend-mode: multiply;
  height: 89px;
  background-size: cover;
  max-width: 100%;
}

.footer-wrapper {
  padding-left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-family: "Lora";
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
}

.footer-navigation__list{
  margin: 17px 250px;
}

.footer-list__style {
  list-style-type: none;
  display: flex;
}

.navigation__link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  font: 400 11px/3px "Oxygen";
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.smal-card__subtitle {
  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 13px;
  font: 400 13px/19px "Oxygen";
  letter-spacing: 0;
  color: rgba(122, 122, 122, 1);
  background-color: #ffffff;
}
